.poster .poster__paper:after {
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none
}
.poster.orientation-portrait.size-8x10.style-ciy45mqnv000e2sqif87trk31 .poster__paper:after {
    background: url(../images/map-border/portrait_8x10_purple.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-8x10.style-ciwetmnkw00682qmz3m48zxuh .poster__paper:after {
    background: url(../images/map-border/portrait_8x10_tangerine.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-8x10.style-cixwofqlx00382sqd6f6d4cc9 .poster__paper:after {
    background: url(../images/map-border/portrait_8x10_red.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-8x10.style-ciy460bel000l2sofqxx5d3fp .poster__paper:after {
    background: url(../images/map-border/portrait_8x10_classic.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-8x10.style-ciy460idk000n2sof2hrcm760 .poster__paper:after {
    background: url(../images/map-border/portrait_8x10_mint.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-8x10.style-ciy45epqc000p2rpblgf8tv9z .poster__paper:after {
    background: url(../images/map-border/portrait_8x10_ocean.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-18x24.style-ciy45mqnv000e2sqif87trk31 .poster__paper:after {
    background: url(../images/map-border/portrait_18x24_purple.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-18x24.style-ciwetmnkw00682qmz3m48zxuh .poster__paper:after {
    background: url(../images/map-border/portrait_18x24_tangerine.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-18x24.style-cixwofqlx00382sqd6f6d4cc9 .poster__paper:after {
    background: url(../images/map-border/portrait_18x24_red.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-18x24.style-ciy460bel000l2sofqxx5d3fp .poster__paper:after {
    background: url(../images/map-border/portrait_18x24_classic.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-18x24.style-ciy460idk000n2sof2hrcm760 .poster__paper:after {
    background: url(../images/map-border/portrait_18x24_mint.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-18x24.style-ciy45epqc000p2rpblgf8tv9z .poster__paper:after {
    background: url(../images/map-border/portrait_18x24_ocean.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-12x16.style-ciy45mqnv000e2sqif87trk31 .poster__paper:after {
    background: url(../images/map-border/portrait_18x24_purple.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-12x16.style-ciwetmnkw00682qmz3m48zxuh .poster__paper:after {
    background: url(../images/map-border/portrait_18x24_tangerine.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-12x16.style-cixwofqlx00382sqd6f6d4cc9 .poster__paper:after {
    background: url(../images/map-border/portrait_18x24_red.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-12x16.style-ciy460bel000l2sofqxx5d3fp .poster__paper:after {
    background: url(../images/map-border/portrait_18x24_classic.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-12x16.style-ciy460idk000n2sof2hrcm760 .poster__paper:after {
    background: url(../images/map-border/portrait_18x24_mint.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-12x16.style-ciy45epqc000p2rpblgf8tv9z .poster__paper:after {
    background: url(../images/map-border/portrait_18x24_ocean.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-24x36.style-ciy45mqnv000e2sqif87trk31 .poster__paper:after {
    background: url(../images/map-border/portrait_24x36_purple.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-24x36.style-ciwetmnkw00682qmz3m48zxuh .poster__paper:after {
    background: url(../images/map-border/portrait_24x36_tangerine.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-24x36.style-cixwofqlx00382sqd6f6d4cc9 .poster__paper:after {
    background: url(../images/map-border/portrait_24x36_red.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-24x36.style-ciy460bel000l2sofqxx5d3fp .poster__paper:after {
    background: url(../images/map-border/portrait_24x36_classic.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-24x36.style-ciy460idk000n2sof2hrcm760 .poster__paper:after {
    background: url(../images/map-border/portrait_24x36_mint.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-24x36.style-ciy45epqc000p2rpblgf8tv9z .poster__paper:after {
    background: url(../images/map-border/portrait_24x36_ocean.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-8x10.style-ciy45mqnv000e2sqif87trk31 .poster__paper:after {
    background: url(../images/map-border/landscape_8x10_purple.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-8x10.style-ciwetmnkw00682qmz3m48zxuh .poster__paper:after {
    background: url(../images/map-border/landscape_8x10_tangerine.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-8x10.style-cixwofqlx00382sqd6f6d4cc9 .poster__paper:after {
    background: url(../images/map-border/landscape_8x10_red.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-8x10.style-ciy460bel000l2sofqxx5d3fp .poster__paper:after {
    background: url(../images/map-border/landscape_8x10_classic.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-8x10.style-ciy460idk000n2sof2hrcm760 .poster__paper:after {
    background: url(../images/map-border/landscape_8x10_mint.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-8x10.style-ciy45epqc000p2rpblgf8tv9z .poster__paper:after {
    background: url(../images/map-border/landscape_8x10_ocean.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-18x24.style-ciy45mqnv000e2sqif87trk31 .poster__paper:after {
    background: url(../images/map-border/landscape_18x24_purple.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-18x24.style-ciwetmnkw00682qmz3m48zxuh .poster__paper:after {
    background: url(../images/map-border/landscape_18x24_tangerine.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-18x24.style-cixwofqlx00382sqd6f6d4cc9 .poster__paper:after {
    background: url(../images/map-border/landscape_18x24_red.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-18x24.style-ciy460bel000l2sofqxx5d3fp .poster__paper:after {
    background: url(../images/map-border/landscape_18x24_classic.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-18x24.style-ciy460idk000n2sof2hrcm760 .poster__paper:after {
    background: url(../images/map-border/landscape_18x24_mint.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-18x24.style-ciy45epqc000p2rpblgf8tv9z .poster__paper:after {
    background: url(../images/map-border/landscape_18x24_ocean.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-12x16.style-ciy45mqnv000e2sqif87trk31 .poster__paper:after {
    background: url(../images/map-border/landscape_18x24_purple.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-12x16.style-ciwetmnkw00682qmz3m48zxuh .poster__paper:after {
    background: url(../images/map-border/landscape_18x24_tangerine.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-12x16.style-cixwofqlx00382sqd6f6d4cc9 .poster__paper:after {
    background: url(../images/map-border/landscape_18x24_red.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-12x16.style-ciy460bel000l2sofqxx5d3fp .poster__paper:after {
    background: url(../images/map-border/landscape_18x24_classic.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-12x16.style-ciy460idk000n2sof2hrcm760 .poster__paper:after {
    background: url(../images/map-border/landscape_18x24_mint.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-12x16.style-ciy45epqc000p2rpblgf8tv9z .poster__paper:after {
    background: url(../images/map-border/landscape_18x24_ocean.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-24x36.style-ciy45mqnv000e2sqif87trk31 .poster__paper:after {
    background: url(../images/map-border/landscape_24x36_purple.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-24x36.style-ciwetmnkw00682qmz3m48zxuh .poster__paper:after {
    background: url(../images/map-border/landscape_24x36_tangerine.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-24x36.style-cixwofqlx00382sqd6f6d4cc9 .poster__paper:after {
    background: url(../images/map-border/landscape_24x36_red.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-24x36.style-ciy460bel000l2sofqxx5d3fp .poster__paper:after {
    background: url(../images/map-border/landscape_24x36_classic.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-24x36.style-ciy460idk000n2sof2hrcm760 .poster__paper:after {
    background: url(../images/map-border/landscape_24x36_mint.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-24x36.style-ciy45epqc000p2rpblgf8tv9z .poster__paper:after {
    background: url(../images/map-border/landscape_24x36_ocean.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.color-radio input[type="radio"]+label span img.style-0 {
    border-color: #f56161
}
.color-radio input[type="radio"]+label span img.style-1 {
    border-color: #7350a1
}
.color-radio input[type="radio"]+label span img.style-2 {
    border-color: #131313
}
.color-radio input[type="radio"]+label span img.style-3 {
    border-color: #51bb85
}
.color-radio input[type="radio"]+label span img.style-4 {
    border-color: #faa91b
}
.color-radio input[type="radio"]+label span img.style-5 {
    border-color: #02a1d1
}

.poster-full .poster .poster__paper:after {
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none
}
.poster-full .poster.orientation-portrait.size-8x10.style-ciy45mqnv000e2sqif87trk31 .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-8X10-purple.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-8x10.style-ciwetmnkw00682qmz3m48zxuh .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-8X10-tangerine.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-8x10.style-cixwofqlx00382sqd6f6d4cc9 .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-8X10-red.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-8x10.style-ciy460bel000l2sofqxx5d3fp .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-8X10-classic.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-8x10.style-ciy460idk000n2sof2hrcm760 .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-8X10-mint.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-8x10.style-ciy45epqc000p2rpblgf8tv9z .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-8X10-ocean.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-18x24.style-ciy45mqnv000e2sqif87trk31 .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-18X24-purple.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-18x24.style-ciwetmnkw00682qmz3m48zxuh .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-18X24-tangerine.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-18x24.style-cixwofqlx00382sqd6f6d4cc9 .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-18X24-red.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-18x24.style-ciy460bel000l2sofqxx5d3fp .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-18X24-classic.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-18x24.style-ciy460idk000n2sof2hrcm760 .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-18X24-mint.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-18x24.style-ciy45epqc000p2rpblgf8tv9z .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-18X24-ocean.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-12x16.style-ciy45mqnv000e2sqif87trk31 .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-18X24-purple.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-12x16.style-ciwetmnkw00682qmz3m48zxuh .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-18X24-tangerine.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-12x16.style-cixwofqlx00382sqd6f6d4cc9 .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-18X24-red.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-12x16.style-ciy460bel000l2sofqxx5d3fp .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-18X24-classic.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-12x16.style-ciy460idk000n2sof2hrcm760 .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-18X24-mint.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-12x16.style-ciy45epqc000p2rpblgf8tv9z .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-18X24-ocean.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-24x36.style-ciy45mqnv000e2sqif87trk31 .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-24x36-purple.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-24x36.style-ciwetmnkw00682qmz3m48zxuh .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-24x36-tangerine.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-24x36.style-cixwofqlx00382sqd6f6d4cc9 .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-24x36-red.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-24x36.style-ciy460bel000l2sofqxx5d3fp .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-24x36-classic.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-24x36.style-ciy460idk000n2sof2hrcm760 .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-24x36-mint.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-portrait.size-24x36.style-ciy45epqc000p2rpblgf8tv9z .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-PORTRAIT-24x36-ocean.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-8x10.style-ciy45mqnv000e2sqif87trk31 .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-LANDSCAPE-8X10-purple.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-8x10.style-ciwetmnkw00682qmz3m48zxuh .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-LANDSCAPE-8X10-tangerine.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-8x10.style-cixwofqlx00382sqd6f6d4cc9 .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-LANDSCAPE-8X10-red.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-8x10.style-ciy460bel000l2sofqxx5d3fp .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-LANDSCAPE-8X10-classic.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-8x10.style-ciy460idk000n2sof2hrcm760 .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-LANDSCAPE-8X10-mint.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-8x10.style-ciy45epqc000p2rpblgf8tv9z .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-LANDSCAPE-8X10-ocean.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-18x24.style-ciy45mqnv000e2sqif87trk31 .poster__paper:after {
    background: url(../images/map-border/0121-MAP-DESIGN-LANDSCAPE-18X24-purple.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-18x24.style-ciwetmnkw00682qmz3m48zxuh .poster__paper:after {
    background: url(../images/map-border/0121-MAP-DESIGN-LANDSCAPE-18X24-tangerine.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-18x24.style-cixwofqlx00382sqd6f6d4cc9 .poster__paper:after {
    background: url(../images/map-border/0121-MAP-DESIGN-LANDSCAPE-18X24-red.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-18x24.style-ciy460bel000l2sofqxx5d3fp .poster__paper:after {
    background: url(../images/map-border/0121-MAP-DESIGN-LANDSCAPE-18X24-classic.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-18x24.style-ciy460idk000n2sof2hrcm760 .poster__paper:after {
    background: url(../images/map-border/0121-MAP-DESIGN-LANDSCAPE-18X24-mint.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-18x24.style-ciy45epqc000p2rpblgf8tv9z .poster__paper:after {
    background: url(../images/map-border/0121-MAP-DESIGN-LANDSCAPE-18X24-ocean.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-12x16.style-ciy45mqnv000e2sqif87trk31 .poster__paper:after {
    background: url(../images/map-border/0121-MAP-DESIGN-LANDSCAPE-18X24-purple.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-12x16.style-ciwetmnkw00682qmz3m48zxuh .poster__paper:after {
    background: url(../images/map-border/0121-MAP-DESIGN-LANDSCAPE-18X24-tangerine.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-12x16.style-cixwofqlx00382sqd6f6d4cc9 .poster__paper:after {
    background: url(../images/map-border/0121-MAP-DESIGN-LANDSCAPE-18X24-red.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-12x16.style-ciy460bel000l2sofqxx5d3fp .poster__paper:after {
    background: url(../images/map-border/0121-MAP-DESIGN-LANDSCAPE-18X24-classic.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-12x16.style-ciy460idk000n2sof2hrcm760 .poster__paper:after {
    background: url(../images/map-border/0121-MAP-DESIGN-LANDSCAPE-18X24-mint.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-12x16.style-ciy45epqc000p2rpblgf8tv9z .poster__paper:after {
    background: url(../images/map-border/0121-MAP-DESIGN-LANDSCAPE-18X24-ocean.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-24x36.style-ciy45mqnv000e2sqif87trk31 .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-24x36-LANDSCAPE-purple.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-24x36.style-ciwetmnkw00682qmz3m48zxuh .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-24x36-LANDSCAPE-tangerine.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-24x36.style-cixwofqlx00382sqd6f6d4cc9 .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-24x36-LANDSCAPE-red.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-24x36.style-ciy460bel000l2sofqxx5d3fp .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-24x36-LANDSCAPE-classic.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-24x36.style-ciy460idk000n2sof2hrcm760 .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-24x36-LANDSCAPE-mint.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .poster.orientation-landscape.size-24x36.style-ciy45epqc000p2rpblgf8tv9z .poster__paper:after {
    background: url(../images/map-border/MAP-DESIGN-24x36-LANDSCAPE-ocean.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-position {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0)
}
.poster__map__wrap {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0)
}
.poster__map__wrap__row {
    position: relative;
    width: 100%
}
.poster {
    position: relative;
    background: #fff;
    box-shadow: 0 5px 13px 0 rgba(112, 126, 137, 0.3);
    overflow: hidden
}
.poster:before {
    content: '';
    display: block;
    float: left;
    padding-bottom: 1.337890625%
}
.poster.borders-double .poster__frame:before,
.poster.borders-double .poster__frame:after {
    opacity: 1
}
.poster.borders-single .poster__frame:before {
    opacity: 1;
    border-width: .1428571428571429em
}
.poster.orientation-portrait {
    font-size: 14px
}
.poster.orientation-portrait.size-8x10 {
    font-size: 14px;
    width: 512px
}
.poster.orientation-portrait.size-8x10:before {
    padding-bottom: 125%
}
.poster.orientation-portrait.size-8x10 .poster-border {
    width: 100%;
    height: 100%;
}
.poster.orientation-portrait.size-8x10 .poster__paper:before {
    background: url("../images/map-bg/portrait_small_8x10.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-8x10 .poster__paper:after {
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/map-bg/portrait_small_8x10-border.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-8x10 .poster__map__wrap__row {
    top: 6em
}
.poster.orientation-portrait.size-8x10 .title {
    font-size: 1em
}
.poster.orientation-portrait.size-8x10 .title span {
    font-size: 2.72em;
    margin: 0 0 .25em
}
.poster.orientation-portrait.size-8x10 .subtitle {
    font-size: 1em
}
.poster.orientation-portrait.size-8x10 .subtitle span {
    font-size: 1.13em;
    letter-spacing: .15em;
    margin: 0 0 .75em
}
.poster.orientation-portrait.size-8x10 .tagline {
    font-size: 1em
}
.poster.orientation-portrait.size-8x10 .tagline span {
    margin: 0;
    font-size: 1.21em;
    letter-spacing: .15em
}
.poster.orientation-portrait.size-8x10 .poster__labels {
    bottom: 5.29em
}
.poster.orientation-portrait.size-8x10 .poster__frame:before {
    top: 1.77em;
    right: 1.77em;
    bottom: 1.77em;
    left: 1.77em
}
.poster.orientation-portrait.size-8x10 .poster__frame:after {
    top: 2.25em;
    right: 2.25em;
    bottom: 2.25em;
    left: 2.25em
}
.poster.orientation-portrait.size-18x24 {
    width: 576px
}
.poster.orientation-portrait.size-18x24:before {
    padding-bottom: 133.3333333333333%
}
.poster.orientation-portrait.size-18x24 .poster-border {
    width: 100%;
    height: 100%;
}
.poster.orientation-portrait.size-18x24 .poster__paper:before {
    background: url("../images/map-bg/portrait_small_18x24.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-18x24 .poster__map__wrap__row {
    top: -1em
}
.poster.orientation-portrait.size-18x24 .poster__labels {
    bottom: 5.7em
}
.poster.orientation-portrait.size-18x24 .title span {
    font-size: 2.91em;
    margin: 0 0 .25em
}
.poster.orientation-portrait.size-18x24 .subtitle span {
    font-size: 1.209em;
    margin: 0 0 .65em;
    letter-spacing: .15em
}
.poster.orientation-portrait.size-18x24 .tagline span {
    font-size: 1.29em;
    letter-spacing: .15em;
    margin: 0
}
.poster.orientation-portrait.size-18x24 .poster__frame:before {
    top: 1.9em;
    right: 1.9em;
    bottom: 1.9em;
    left: 1.9em
}
.poster.orientation-portrait.size-18x24 .poster__frame:after {
    top: 2.5em;
    right: 2.5em;
    bottom: 2.5em;
    left: 2.5em
}
.poster.orientation-portrait.size-12x16 {
    width: 576px
}
.poster.orientation-portrait.size-12x16:before {
    padding-bottom: 133.3333333333333%
}
.poster.orientation-portrait.size-12x16 .poster-border {
    width: 100%;
    height: 100%
}
.poster.orientation-portrait.size-12x16 .poster__paper:before {
    background: url("../images/map-bg/portrait_small_18x24.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-12x16 .poster__map__wrap__row {
    top: 7em
}
.poster.orientation-portrait.size-12x16 .poster__labels {
    bottom: 5.7em
}
.poster.orientation-portrait.size-12x16 .title span {
    font-size: 2.91em;
    margin: 0 0 .25em
}
.poster.orientation-portrait.size-12x16 .subtitle span {
    font-size: 1.209em;
    margin: 0 0 .65em;
    letter-spacing: .15em
}
.poster.orientation-portrait.size-12x16 .tagline span {
    font-size: 1.29em;
    letter-spacing: .15em;
    margin: 0
}
.poster.orientation-portrait.size-12x16 .poster__frame:before {
    top: 1.9em;
    right: 1.9em;
    bottom: 1.9em;
    left: 1.9em
}
.poster.orientation-portrait.size-12x16 .poster__frame:after {
    top: 2.5em;
    right: 2.5em;
    bottom: 2.5em;
    left: 2.5em
}
.poster.orientation-portrait.size-24x36:before {
    padding-bottom: 150%
}
.poster.orientation-portrait.size-24x36 .poster-border {
    width: 2400px;
    height: 3600px
}
.poster.orientation-portrait.size-24x36 .poster__paper:before {
    background: url("../images/map-bg/portrait_small_24x36.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-portrait.size-24x36 .poster__map__wrap__row {
    top: 8.5em
}
.poster.orientation-portrait.size-24x36 .poster__labels {
    bottom: 9.27em
}
.poster.orientation-portrait.size-24x36 .title span {
    font-size: 2.9em;
    margin: 0 0 .25em
}
.poster.orientation-portrait.size-24x36 .subtitle span {
    font-size: 1.2em;
    margin: 0 0 .75em;
    letter-spacing: .15em
}
.poster.orientation-portrait.size-24x36 .tagline span {
    font-size: 1.29em;
    margin: 0;
    letter-spacing: .15em
}
.poster.orientation-portrait.size-24x36 .poster__frame:before {
    top: 2em;
    right: 2em;
    bottom: 2em;
    left: 2em
}
.poster.orientation-portrait.size-24x36 .poster__frame:after {
    top: 2.57em;
    right: 2.57em;
    bottom: 2.57em;
    left: 2.57em
}
.poster.orientation-landscape {
    font-size: 14px
}
.poster.orientation-landscape .poster__paper:before {
    background: url("../images/map-bg/landscape_small.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-8x10:before {
    padding-bottom: 80%
}
.poster.orientation-landscape.size-8x10 .poster-border {
    width: 3000px
}
.poster.orientation-landscape.size-8x10 .poster__paper:before {
    background: url("../images/map-bg/landscape_small_8x10.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-8x10 .poster__map__wrap {
    width: 51%;
    height: 57%;
    top: 3.75em
}
.poster.orientation-landscape.size-8x10 .title span {
    font-size: 2.27em;
    margin: 0 0 .25em
}
.poster.orientation-landscape.size-8x10 .subtitle span {
    font-size: .95em;
    margin: 0 0 .8em;
    letter-spacing: .15em
}
.poster.orientation-landscape.size-8x10 .tagline span {
    font-size: 1.01em;
    letter-spacing: .15em;
    margin: 0
}
.poster.orientation-landscape.size-8x10 .poster__labels {
    bottom: 5em
}
.poster.orientation-landscape.size-8x10 .poster__frame:before {
    top: 1.75em;
    bottom: 1.75em;
    left: 1.75em;
    right: 1.75em
}
.poster.orientation-landscape.size-8x10 .poster__frame:after {
    top: 2.286em;
    right: 2.286em;
    bottom: 2.286em;
    left: 2.286em
}
.poster.orientation-landscape.size-18x24 .title span {
    font-size: 2.27em;
    margin: 0 0 .25em
}
.poster.orientation-landscape.size-18x24 .subtitle span {
    font-size: .98em;
    margin: 0 0 .58em;
    letter-spacing: .15em
}
.poster.orientation-landscape.size-18x24 .tagline span {
    font-size: 1.01em;
    letter-spacing: .15em;
    margin: 0
}
.poster.orientation-landscape.size-18x24:before {
    padding-bottom: 75%
}
.poster.orientation-landscape.size-18x24 .poster-border {
    width: 3600px
}
.poster.orientation-landscape.size-18x24 .poster__paper:before {
    background: url("../images/map-bg/landscape_small_18x24.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-18x24 .poster__map__wrap__row {
    top: 2.75em
}
.poster.orientation-landscape.size-18x24 .poster__labels {
    bottom: 4em
}
.poster.orientation-landscape.size-18x24 .poster__frame:before {
    top: 1.857em;
    bottom: 1.857em;
    left: 1.857em;
    right: 1.857em
}
.poster.orientation-landscape.size-18x24 .poster__frame:after {
    top: 2.35em;
    right: 2.35em;
    bottom: 2.35em;
    left: 2.35em
}
.poster.orientation-landscape.size-12x16 .title span {
    font-size: 2.27em;
    margin: 0 0 .25em
}
.poster.orientation-landscape.size-12x16 .subtitle span {
    font-size: .98em;
    margin: 0 0 .58em;
    letter-spacing: .15em
}
.poster.orientation-landscape.size-12x16 .tagline span {
    font-size: 1.01em;
    letter-spacing: .15em;
    margin: 0
}
.poster.orientation-landscape.size-12x16:before {
    padding-bottom: 75%
}
.poster.orientation-landscape.size-12x16 .poster-border {
    width: 3600px
}
.poster.orientation-landscape.size-12x16 .poster__paper:before {
    background: url("../images/map-bg/landscape_small_18x24.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-12x16 .poster__map__wrap__row {
    top: 2.75em
}
.poster.orientation-landscape.size-12x16 .poster__labels {
    bottom: 4em
}
.poster.orientation-landscape.size-12x16 .poster__frame:before {
    top: 1.857em;
    bottom: 1.857em;
    left: 1.857em;
    right: 1.857em
}
.poster.orientation-landscape.size-12x16 .poster__frame:after {
    top: 2.35em;
    right: 2.35em;
    bottom: 2.35em;
    left: 2.35em
}
.poster.orientation-landscape.size-24x36:before {
    padding-bottom: 66.66666666666667%
}
.poster.orientation-landscape.size-24x36 .poster-border {
    width: 3600px
}
.poster.orientation-landscape.size-24x36 .poster__paper:before {
    background: url("../images/map-bg/landscape_small_24x36.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover
}
.poster.orientation-landscape.size-24x36 .poster__map__wrap__row {
    top: 1.75em
}
.poster.orientation-landscape.size-24x36 .title span {
    font-size: 2.02em;
    margin: 0 0 .25em
}
.poster.orientation-landscape.size-24x36 .subtitle span {
    font-size: .84em;
    margin: 0 0 .65em;
    letter-spacing: .15em
}
.poster.orientation-landscape.size-24x36 .tagline span {
    font-size: .89em;
    letter-spacing: .15em;
    margin: 0
}
.poster.orientation-landscape.size-24x36 .poster__labels {
    bottom: 3.5em
}
.poster.orientation-landscape.size-24x36 .poster__frame:before {
    top: 1.57em;
    bottom: 1.57em;
    left: 1.57em;
    right: 1.57em
}
.poster.orientation-landscape.size-24x36 .poster__frame:after {
    top: 2.07em;
    right: 2.07em;
    bottom: 2.07em;
    left: 2.07em
}
.poster__frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}
.poster__frame:before {
    content: '';
    display: block;
    position: absolute;
    top: 2em;
    right: 2em;
    bottom: 2em;
    left: 2em;
    border: .0714285714285714em solid #000;
    pointer-events: none;
    opacity: 0;
    z-index: 7
}
.poster__frame:after {
    content: '';
    position: absolute;
    top: 2.5em;
    right: 2.5em;
    bottom: 2.5em;
    left: 2.5em;
    border: .1428571428571429em solid #000;
    pointer-events: none;
    opacity: 0;
    z-index: 7
}
.poster-border {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0)
}
.poster__labels {
    position: absolute;
    z-index: 6;
    left: 0;
    right: 0;
    text-align: center
}
.poster__labels .title {
    color: #000;
    font-family: 'cormorantbold';
    font-size: 2.857142857142857em;
    letter-spacing: .0029411764705882357em;
    margin: 0
}
.poster__labels .title span {
    display: inline-block
}
.poster__labels .subtitle {
    font-family: 'montserratlight';
    color: #000;
    margin: 0;
    letter-spacing: .2em
}
.poster__labels .subtitle span {
    display: inline-block
}
.poster__labels .tagline {
    font-family: 'montserratextralight';
    font-size: 1.294285714285714em;
    text-transform: uppercase;
    color: #000;
    line-height: 1;
    margin: 0;
    letter-spacing: .2em
}
.poster__labels .tagline span {
    display: inline-block
}
.poster__paper {
    position: relative
}
.poster__paper:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    pointer-events: none
}
.poster__paper:after {
    content: '';
    position: absolute;
    top: 16.95%;
    left: 50%;
    z-index: 6;
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0)
}
.poster__paper,
.poster__map {
    width: 100%;
    height: 100%
}
.poster__map {
    position: absolute;
    transform-origin: top left;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    top: 50%;
    left: 50%
}
.control-zoom {
    position: absolute;
    top: 0;
    right: 100%
}
.control-zoom a {
    background-color: #fff;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 20px
}
.control-zoom a:hover {
    background-color: #f4f4f4
}
.control-zoom a.control-zoom-left {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}
.control-zoom a.control-zoom-right {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 0
}
.poster {
    background: url(../images/map-bg/portrait_small_8x10.png), url(../images/map-bg/portrait_small_18x24.png), url(../images/map-bg/portrait_small_24x36.png), url(../images/map-bg/landscape_small_8x10.png), url(../images/map-bg/landscape_small_18x24.png), url(../images/map-bg/landscape_small_24x36.png)
}
.poster.orientation-portrait .poster__labels .title,
.poster.orientation-portrait .poster__labels .subtitle,
.poster.orientation-portrait .poster__labels .tagline {
    padding: 0 12%
}
.poster .poster__labels .title,
.poster .poster__labels .subtitle,
.poster .poster__labels .tagline {
    font-size: 1em;
    padding: 0 8%;
    word-break: break-word;
    line-height: 1.1;
    font-weight: normal
}
.poster .poster__labels .title.size-10,
.poster .poster__labels .title.size-15,
.poster .poster__labels .title.size-20,
.poster .poster__labels .title.size-25,
.poster .poster__labels .title.size-30,
.poster .poster__labels .title.size-35,
.poster .poster__labels .subtitle.size-10,
.poster .poster__labels .subtitle.size-15,
.poster .poster__labels .subtitle.size-20,
.poster .poster__labels .subtitle.size-25,
.poster .poster__labels .subtitle.size-30,
.poster .poster__labels .subtitle.size-35,
.poster .poster__labels .tagline.size-10,
.poster .poster__labels .tagline.size-15,
.poster .poster__labels .tagline.size-20,
.poster .poster__labels .tagline.size-25,
.poster .poster__labels .tagline.size-30,
.poster .poster__labels .tagline.size-35 {
    font-size: .83em
}
.poster .poster__labels .title.size-40,
.poster .poster__labels .title.size-45,
.poster .poster__labels .title.size-50,
.poster .poster__labels .title.size-55,
.poster .poster__labels .subtitle.size-40,
.poster .poster__labels .subtitle.size-45,
.poster .poster__labels .subtitle.size-50,
.poster .poster__labels .subtitle.size-55,
.poster .poster__labels .tagline.size-40,
.poster .poster__labels .tagline.size-45,
.poster .poster__labels .tagline.size-50,
.poster .poster__labels .tagline.size-55 {
    font-size: .75em
}
.poster .poster__labels .title.size-60,
.poster .poster__labels .title.size-65,
.poster .poster__labels .title.size-70,
.poster .poster__labels .title.size-75,
.poster .poster__labels .title.size-80,
.poster .poster__labels .title.size-85,
.poster .poster__labels .subtitle.size-60,
.poster .poster__labels .subtitle.size-65,
.poster .poster__labels .subtitle.size-70,
.poster .poster__labels .subtitle.size-75,
.poster .poster__labels .subtitle.size-80,
.poster .poster__labels .subtitle.size-85,
.poster .poster__labels .tagline.size-60,
.poster .poster__labels .tagline.size-65,
.poster .poster__labels .tagline.size-70,
.poster .poster__labels .tagline.size-75,
.poster .poster__labels .tagline.size-80,
.poster .poster__labels .tagline.size-85 {
    font-size: .69em
}
.poster .poster__labels .title.size-oversize,
.poster .poster__labels .subtitle.size-oversize,
.poster .poster__labels .tagline.size-oversize {
    font-size: .65em
}
.poster-small .poster__map img {
    transform-origin: top left;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left
}

.poster-full .orientation-portrait.size-8x10 {
    font-size: 66px
}
.poster-full .orientation-portrait.size-8x10 .poster__paper:before {
    background: url("../images/map-bg/portrait_8x10.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .orientation-portrait.size-18x24 {
    font-size: 148px
}
.poster-full .orientation-portrait.size-18x24 .poster__paper:before {
    background: url("../images/map-bg/portrait_18x24.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .orientation-portrait.size-12x16 {
    font-size: 148px
}
.poster-full .orientation-portrait.size-12x16 .poster__paper:before {
    background: url("../images/map-bg/portrait_18x24.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .orientation-portrait.size-24x36 {
    font-size: 197px
}
.poster-full .orientation-portrait.size-24x36 .poster__paper:before {
    background: url("../images/map-bg/portrait_24x36.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .orientation-landscape.size-8x10 {
    font-size: 66px
}
.poster-full .orientation-landscape.size-8x10 .poster__paper:before {
    background: url("../images/map-bg/landscape_8x10.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .orientation-landscape.size-18x24 {
    font-size: 158px
}
.poster-full .orientation-landscape.size-18x24 .poster__paper:before {
    background: url("../images/map-bg/landscape_18x24.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .orientation-landscape.size-12x16 {
    font-size: 158px
}
.poster-full .orientation-landscape.size-12x16 .poster__paper:before {
    background: url("../images/map-bg/landscape_18x24.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .orientation-landscape.size-24x36 {
    font-size: 236px
}
.poster-full .orientation-landscape.size-24x36 .poster__paper:before {
    background: url("../images/map-bg/landscape_24x36.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover
}
.poster-full .control-zoom {
    display: none
}
.poster-full .poster__map img {
    transform-origin: top left;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left
}